<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syndo.project.zhzs.dbfxxt.mapper.ftlsjxhgl.FcsyztzMapper">
<!-- ***** 房土两税精细化管理-房产税应征台账 ***** -->

	<sql id="whereClause">
		<if test="bszq != null and bszq != ''"> and bszq = #{bszq}</if>
		<if test="title != null and title != ''"> and title like '%'||#{title}||'%'</if>
		<if test="nsrsbh != null and nsrsbh != ''"> and nsrsbh = #{nsrsbh}</if>
		<if test="nsrmc != null and nsrmc != ''"> and nsrmc like '%'||#{nsrmc}||'%'</if>
		<if test="staddress != null and staddress != ''"> and staddress like '%'||#{staddress}||'%'</if>
		<if test="address != null and address!= ''"> and address like '%'||#{address}||'%'</if>
		<if test="sbyh != null and sbyh != ''"> and y.user_name like '%'||#{sbyh}||'%'</if>
		<if test="ownername != null and ownername != ''"> and ownername like '%'||#{ownername}||'%'</if>
		<if test="businessstate != null and businessstate != ''"> and businessstate = #{businessstate}</if>
	</sql>
	<select id="selectList" 
			parameterType="com.syndo.project.zhzs.dbfxxt.domain.ftlsjxhgl.Fcsyztz" 
			resultType="com.syndo.project.zhzs.dbfxxt.domain.ftlsjxhgl.Fcsyztz">
		select
			obj_id, title, staddress, address, remark, userid, longitude, latitude,
			electricitynumber, waternumber, taxnumber, sbsj, imgfilepath, imgfilepath2,
			businesstitle, businessnumber, businessstate, businessphone, gasnumber,
			ownnumber, ownername, owneridnumber, ownerphnumber, industryname, policehotel,
			nsrsbh, nsrmc, scjydz, frmc, lxdh, jyfw, cyrs, jye, fwly, xcqr, cqrzjh,
		    fwjz, czfcyz, fcmj, czfcmj, fczlje, fcszxbz, tddjbz, qnynftls, jmftse, yjnftls,
		    sbhm, glbm, bszq, zjr, zjsj, xgr, xgsj, taxacreage, notaxacreage, businesstitle2,
		    businessnumber2, ownnumber2, ISPRINT, ISRAR, PRINTUSERID, PRINTTIME, RARTIME,
		    checkeduserid, checktime, zl, dc, tdlb, mj1, mj2, mj3, yjtdsys2016, yjfcs2016, sbyh  
		from
			(select
			    t.obj_id, t.title, t.staddress, t.address, t.remark, t.userid, t.longitude, 
			    t.latitude, t.electricitynumber, t.waternumber, t.taxnumber, t.sbsj,
			    t.imgfilepath, t.imgfilepath2, t.businesstitle, t.businessnumber, t.businessstate,
			    t.businessphone, t.gasnumber, t.ownnumber, t.ownername, t.owneridnumber,
			    t.ownerphnumber, t.industryname, t.policehotel, t.nsrsbh, t.nsrmc, t.scjydz,
			    t.frmc, t.lxdh, t.jyfw, t.cyrs, t.jye, t.fwly, t.xcqr, t.cqrzjh, t.fwjz,
			    t.czfcyz, t.fcmj, t.czfcmj, t.fczlje, t.fcszxbz, t.tddjbz, t.qnynftls, t.jmftse,
			    t.yjnftls, t.sbhm, t.glbm, t.bszq, t.zjr, t.zjsj, t.xgr, t.xgsj, t.taxacreage,
			    t.notaxacreage, t.businesstitle2, t.businessnumber2, t.ownnumber2, t.ISPRINT,
			    t.ISRAR, t.PRINTUSERID, t.PRINTTIME, t.RARTIME, z.user_name as checkeduserid,
			    t.checktime, t.zl, t.dc, t.tdlb, t.mj1, t.mj2, t.mj3, t.yjtdsys2016, t.yjfcs2016,
			    y.user_name as sbyh 
		    from cs_ftlsgzgl t,gis_users y,sys_user z
		    where
			    t.ischecked is not null
			    and t.userid = y.user_id
			    and t.checkeduserid = z.LOGIN_NAME
      		<include refid="whereClause" />
    )
		
	</select>
</mapper>