<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('企业库维护')" />
	<style type="text/css">
		.select-list li label {width: 100px;text-align: right;white-space: nowrap;text-overflow: ellipsis;}
	</style>
</head>
<body class="gray-white">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="query-form">
					<input id="gucode" name="gucode" value="qyk" type="hidden" />
					<div class="select-list">
						<ul>
							<li>
								<label>信用代码：</label>
								<input id="tyshxydm" name="tyshxydm" type="text"/>
							</li>
							<li>
								<label>纳税人名称：</label>
								<input id="nsrmc" name="nsrmc" type="text"/>
							</li>
							<li shiro:hasPermission="module:xck:jdxz">
								<label>街道乡镇：</label>
								<select id="jdxz" name="jdxz" th:with="type=${@dict.getType('dm_jdxz')}">
									<option value=""></option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>数据类型：</label>
								<select id="dt" name="dt">
									<option value="0">全部</option>
									<option value="1">重复数据</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<!-- 工具栏 -->
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group" >
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhzs:srfxxt:xtwh:qykwh:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single" onclick="$.operate.edit()" shiro:hasPermission="zhzs:srfxxt:xtwh:qykwh:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple" onclick="$.operate.removeAll()" shiro:hasPermission="zhzs:srfxxt:xtwh:qykwh:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <a class="btn btn-warning" onclick="optExcel()" shiro:hasPermission="zhzs:srfxxt:xtwh:qykwh:add">
			            <i class="fa fa-upload"></i> 导入
		        </a>
		        <a class="btn btn-info" onclick="expExcel()">
		        	<i class="fa fa-download"></i> 导出
		        </a>
				<a class="btn btn-primary" onclick="downloadDIYTemplate()" shiro:hasPermission="zhzs:srfxxt:xtwh:qykwh:add">
		            <i class="fa fa-file-excel-o"></i> 模板
		        </a>
	        </div>
			
			<div class="col-sm-12 full-table table-bordered">
				<table id="bootstrap-table" data-resizable="true"></table>
			</div>
		</div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "zhzs/srfxxt/xtwh/qykwh";
        var prefixd = ctx + "module/dataImp";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "企业库维护",
                pageSize: 50,
    		    pageList: [20, 50, 100],
    		    height: $(window).height() - 125,
		        showExport: false,
		        showSearch: false,
		        showToggle: false,
		        showPageGo: true,
                columns: [{
		            checkbox: true,
		            width: 50,
		        },
				{
					field : 'id', 
					visible: false
				},
				{
					field : 'tyshxydm', 
					title : '统一社会信用代码',
					width: 140
				},
				{
					field : 'nsrmc', 
					title : '纳税人名称',
					width: 240,
					formatter: function(value, row, index) {
						var val = $.common.nullToStr(value);
	        			return "<span title='" + val + "'>" + val + "</span>";
                    }
				},
				{
					field : 'jdxz', 
					title : '街道乡镇',
					width: 80
				},
				{
					field : 'fcbl', 
					title : '分成比例%',
					width: 80,
					align: 'right'
				},
				{
					field : 'gsrq', 
					title : '生效年月',
					align: 'center',
					width: 90
				},
				{
					field : 'createTime', 
					title : '新增日期',
					align: 'center',
					width: 90
				}
				]
            };
            $.table.init(options);
            
         	// 自适应高度-待测试
            $(window).resize(function() {
            	$("#bootstrap-table").bootstrapTable('resetView', {
                    height: $(window).height() - 125
                });
            });
        });
        
        // 选择Excel文件
        function optExcel() {
        	var url = prefixd + "/impExcel?gucode=" + "qyk";
           	layer.open({
           		type: 2,
           		id: 'optExcel',
           		title: '【从Excel导入】',
           		area: ['700px', '450px'],
           		content: url,
           		shade: 0.3,
           		shadeClose: true,
           		maxmin: false,
           		btn: ['导入', '关闭'],
           		yes: function(index, layero) {
           			var iframeWin = layero.find('iframe')[0];
           	        iframeWin.contentWindow.submitHandler();
           		},
           		cancel: function(index) {
           			$.table.refresh();
           	    }
        	});
        }

        //导出用户上传的模板
		function downloadDIYTemplate() {
			var filePath = "企业库.xls";
        	if(!filePath){
        		$.modal.alertWarning("暂未上传模板文件！请联系系统管理员上传！");
    			return;
        	}
        	else{
  				window.location.href = ctx + "common/dbTemplateDownload?fileName=" + filePath;
        	}
		}	
        
        // 导出
		function expExcel() {
			var params = $.common.formToJSON('query-form');
            var loading = layer.msg('正在导出数据，请稍后...', {
                icon: 16,
                shade: 0.3,
                time: 0
            });
            $.post(prefix + '/expExcel', params, function(result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                layer.close(loading);
            });
		}
		
    </script>
</body>
</html>