<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--户籍比对 - 教育局办学机构未在税务注册 -->

<mapper namespace="com.syndo.project.zhzs.dbfxxt.mapper.lzlgfx.JyjbxjgMapper">
	<!-- 查询 -->
	<select id="selectList" resultType="com.syndo.project.zhzs.dbfxxt.domain.lzlgfx.Jyjbxjg"  parameterType="com.syndo.project.zhzs.dbfxxt.domain.lzlgfx.Jyjbxjg">
		SELECT * FROM (
			SELECT A.*, '1' TYPE,'1' FLAG,'税务局' CLDW,'教育局办学机构税务未注册' INFO 
			FROM T_DB_JYTYJ_JYJGDJHXBQYXX A 
			WHERE A.DWMC IS NOT NULL  
			AND NOT EXISTS(SELECT 0 FROM T_DB_SWJ_SWDJXX D WHERE A.DWMC = D.NSRMC)
		)T
		WHERE 1=1
	    <if test="dwmc != null and dwmc != ''"> and dwmc like concat(concat('%',#{dwmc}),'%')</if>
	</select>

</mapper>