<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<head>
		<th:block th:include="include :: header('修改企业归属集团')" />
	</head>
	<body class="white-bg">
	    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
	        <form class="form-horizontal m" id="form-edit" th:object="${entity}">
	            <input id="id" name="id" th:field="*{id}"  type="hidden">
	            <div class="form-group">	
					<label class="col-sm-2 control-label is-required">统一社会信用代码：</label>
					<div class="col-sm-4">
						<input id="tyshxydm" name="tyshxydm" th:field="*{tyshxydm}"  class="form-control" type="text">
					</div>
					<label class="col-sm-2 control-label is-required">纳税人名称：</label>
					<div class="col-sm-4">
						<input id="nsrmc" name="nsrmc" th:field="*{nsrmc}" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">	
					<label class="col-sm-2 control-label is-required">归属集团名称：</label>
					<div class="col-sm-4">
						<input id="gsjtmc" name="gsjtmc" th:field="*{gsjtmc}" class="form-control" type="text">
					</div>
					<label class="col-sm-2 control-label is-required">生效日期：</label>
					<div class="col-sm-4">
						<input id="rq" name="rq" th:value="*{ksrq}+' 至 '+*{jsrq}" class="form-control" type="text" readonly="readonly">
					</div>
				</div>
			</form>
	    </div>
	    <th:block th:include="include :: footer" />
	    <script type="text/javascript">
        	var prefix = ctx + "zhzs/srfxxt/xtwh/qygsjt";
        	
			$("#form-demo-edit").validate({
				rules:{
					rules:{
						tyshxydm: {required:true},
						nsrmc: {required:true},
						gsjtmc: {required:true},
						gsrq: {required:true}
					}
				}
			});
			
			function submitHandler() {
		        if ($.validate.form()) {
		        	$.operate.save(prefix + "/edit", $('#form-edit').serialize());
		        }
		    }

	        layui.use('laydate', function(){
	        	var laydate = layui.laydate;
	        	laydate.render({elem: '#rq', type: 'month', range: '至'});
	        });
		</script>
	</body>
</html>
