<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syndo.project.zhzs.dbfxxt.mapper.xtgl.JyzjgwhMapper">
   
    <resultMap type="Jyzjgwh" id="JyzjgwhResult">
        <result property="objId" column="objid"/>
        <result property="jyzname" column="jyzname"/>
        <result property="qy92" column="qy92"/>
        <result property="qy95" column="qy95"/>
        <result property="qy98" column="qy98"/>
        <result property="cy0" column="cy0"/>
        <result property="cy10" column="cy10"/>
        <result property="sjq" column="sjq"/>
        <result property="sjz" column="sjz"/>
        <result property="xgsj" column="xgsj"/>
        <result property="bz" column="bz"/>
    </resultMap>
   	<sql id="selectVo">
        SELECT JYZNAME,OBJ_ID AS OBJID,QY92,QY95,QY98,CY0,CY10,SJQ,SJZ,BZ,XGSJ FROM TMP_JYZ 
    </sql>
	<!-- 查询 -->
	<select id="selectList" parameterType="Jyzjgwh" resultMap="JyzjgwhResult">
        <include refid="selectVo"/>
	</select>
	    
    <!-- 主键查询 -->
    <select id="selectById" parameterType="String" resultMap="JyzjgwhResult">
        <include refid="selectVo"/>
        WHERE OBJ_ID = #{objId}
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="Jyzjgwh">
        INSERT INTO TMP_JYZ
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="objId != null and objId != '' "> OBJ_ID, </if>
			<if test="jyzname != null and jyzname != '' "> JYZNAME, </if>
			<if test="qy92 != null and qy92 != '' "> QY92, </if>
			<if test="qy95 != null and qy95 != '' "> QY95, </if>
            <if test="qy98 != null and qy98 != ''">QY98,</if>
			<if test="cy0 != null and cy0 != '' "> CY0, </if>
			<if test="cy10 != null and cy10 != '' "> CY10, </if>
			<if test="sjq != null and sjq != '' "> SJQ, </if>
			<if test="sjz != null and sjz != '' "> SJZ, </if>
            <if test="bz != null and bz != ''">BZ,</if>
            <if test="xgsj != null and xgsj != ''">XGSJ,</if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="objId != null and objId != '' "> #{objId}, </if>
			<if test="jyzname != null and jyzname != '' "> #{jyzname}, </if>
			<if test="qy92 != null and qy92 != '' "> #{qy92}, </if>
			<if test="qy95 != null and qy95 != '' "> #{qy95}, </if>
            <if test="qy98 != null and qy98 != ''">#{qy98},</if>
			<if test="cy0 != null and cy0 != '' "> #{cy0}, </if>
			<if test="cy10 != null and cy10 != '' "> #{cy10}, </if>
			<if test="sjq != null and sjq != '' "> #{sjq}, </if>
			<if test="sjz != null and sjz != '' "> #{sjz}, </if>
            <if test="bz != null and bz != ''">#{bz},</if>
            <if test="xgsj != null and xgsj != ''">#{xgsj},</if>
		</trim>
    </insert>
	<!-- 修改 -->
    <update id="update" parameterType="Jyzjgwh">
        UPDATE TMP_JYZ 
        <trim prefix="SET" suffixOverrides=","> 
			<if test="jyzname != null and jyzname != '' ">JYZNAME= #{jyzname}, </if>
			<if test="qy92 != null and qy92 != '' ">QY92= #{qy92}, </if>
			<if test="qy95 != null and qy95 != '' ">QY95= #{qy95}, </if>
            <if test="qy98 != null and qy98 != ''">QY98=#{qy98},</if>
			<if test="cy0 != null and cy0 != '' ">CY0= #{cy0}, </if>
			<if test="cy10 != null and cy10 != '' ">CY10= #{cy10}, </if>
			<if test="sjq != null and sjq != '' ">SJQ= #{sjq}, </if>
			<if test="sjz != null and sjz != '' ">SJZ= #{sjz}, </if>
            <if test="bz != null and bz != ''">BZ=#{bz},</if>
            <if test="xgsj != null and xgsj != ''">XGSJ = #{xgsj},</if>
        </trim>
        WHERE OBJ_ID = #{objId}
    </update>
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
        DELETE FROM TMP_JYZ WHERE OBJ_ID = #{objId}
    </delete>
	<!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="String">
        DELETE FROM TMP_JYZ WHERE OBJ_ID IN 
        <foreach item="objId" collection="array" open="(" separator="," close=")">
            #{objId}
        </foreach>
    </delete>	
</mapper>