<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syndo.project.zhzs.dbfxxt.mapper.xtgl.SbybskjgwhMapper">
   <!-- 对比分析系统-系统管理-社保医保刷卡中间表维护 -->
	<!-- 查询 -->
	<select id="selectList" parameterType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh" resultType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh">
        select id as objid, ydmc, nsrmc from t_tmp_ybsk where 1=1
		<if test="nsrmc != null and nsrmc != ''">
		 	and nsrmc like'%'||#{nsrmc}||'%'
		 </if>
		<if test="ydmc != null and ydmc != ''">
		 	and ydmc like '%'||#{ydmc}||'%'
		 </if>
	</select>
	    
    <!-- 主键查询 -->
    <select id="selectById" parameterType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh" resultType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh">
        select id as objid, ydmc, nsrmc from t_tmp_ybsk
        where id = #{objId}
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh">
        insert into t_tmp_ybsk (ydmc,nsrmc) values (#{ydmc},#{nsrmc})
    </insert>
	<!-- 修改 -->
    <update id="update" parameterType="com.syndo.project.zhzs.dbfxxt.domain.xtgl.Sbybskjgwh">
        update t_tmp_ybsk 
        	<set>
				nsrmc=#{nsrmc},ydmc = #{ydmc}
			</set>
        where id = #{objId}
    </update>
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
        delete from t_tmp_ybsk where id = #{objId}
    </delete>
	<!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="String">
        delete from t_tmp_ybsk where id in 
        <foreach item="objId" collection="array" open="(" separator="," close=")">
            #{objId}
        </foreach>
    </delete>	
</mapper>