<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syndo.project.zhzs.gcxmxt.mapper.jzsgqygl.JzsgqyglMapper">
	
	<!-- 建筑施工企业管理 全口径-->
	<select id="selectList" resultType="com.syndo.project.zhzs.gcxmxt.domain.jzsgqygl.Jzsgqygl" parameterType="com.syndo.project.zhzs.gcxmxt.domain.jzsgqygl.Jzsgqygl">

	</select>

</mapper>