<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<!-- 企业标注 -->
<div th:fragment="qybz">
    <style>
        .qybzComponentTable {
            position: absolute;
            width: 100%;
            height: calc(100% - 65px);
        }
    </style>
    <template id="qybzTemplate">
        <my-panel :width.sync="width">
            <qybz-queryfilter-dialog ref="dialog" @do-query="handleDoQuery"></qybz-queryfilter-dialog>
            <div>
                <h3 style="padding-left: 20px">纳税人列表 {{queryParams.sfbz=='1'?'(已标注)':'(未标注)'}}</h3>
                <el-button
                    @click="queryFilter"
                    icon="fa fa-filter"
                    style="position: absolute; top: 10px; right: 80px"
                    circle
                    title="筛选"
                ></el-button>
                <el-button @click="refresh" icon="fa fa-refresh" style="position: absolute; top: 10px; right: 30px" circle title="刷新"></el-button>
                <my-el-table
                    ref="table"
                    table-class="qybzComponentTable"
                    :columns="columns"
                    @row-click="rowClick"
                    @on-load="onLoad"
                    :data-url="queryUrl"
                    :query-params="queryParams"
                >
                </my-el-table>
            </div>
        </my-panel>
    </template>
    <script type="module">
        Vue.component("qybzComponent", {
            template: "#qybzTemplate",
            props: {
                pubVue: {
                    type: Object,
                },
            },
            data() {
                return {
                    width: 340,
                    layerType: "qybz",
                    saveUrl: "/module/taxgis/SaveQybz",
                    delUrl: "/module/taxgis/DelQybz",
                    queryUrl: "/module/taxgis/GetNsrxxBz",
                    queryParams: { sfbz: "1", sfybnsr: "1", nsrzt:"正常" },
                    columns: [
                        { prop: "id", label: "ID", width: "30", show: false },
                        { prop: "shxydm", label: "社会信用代码", width: "200", show: true },
                        { prop: "nsrmc", label: "纳税人名称", width: "250", show: true },
                        { prop: "nsrzt", label: "纳税人状态", width: "100", show: true },
                        { prop: "zcdz", label: "注册地址", width: "150", show: true },
                        // { prop: "jydz", label: "经营地址", width: "100", show: true },
                        // { prop: "djzclx", label: "登记注册类型", width: "200", show: true },
                    ],
                };
            },
            mounted() {
                this.$refs.table.queryList();

                this.pubVue.$on("delQybz", (data) => {
                    let params = new URLSearchParams();
                    // params.append("id", data.id);
                    params.append("shxydm", data.shxydm);
                    this.axios
                        .post(this.delUrl, params)
                        .then((response) => {
                            // 请求成功
                            this.$notify({
                                type: "success",
                                message: "删除成功",
                                position: "top-right",
                                offset: 50,
                            });
                            this.pubVue.$emit("deleteLayer", { id: data.id, layerType: this.layerType });
                            this.$refs.table.loadData();
                        })
                        .catch((error) => {
                            // 请求失败
                            console.log("请求失败");
                            console.log(error);
                        });
                });
                this.pubVue.$on("saveQybz", (data) => {
                    let params = new URLSearchParams();
                    params.append("id", data.id);
                    params.append("shxydm", data.shxydm);
                    params.append("nsrmc", data.nsrmc);
                    params.append("zcdz", data.zcdz);
                    params.append("jydz", data.jydz);
                    params.append("lat", data.newlat || data.lat);
                    params.append("lon", data.newlon || data.lon);
                    this.axios
                        .post(this.saveUrl, params)
                        .then((response) => {
                            // 请求成功
                            this.pubVue.$emit("afterSaveMarker", { id: data.id, layerType: this.layerType });
                            this.$notify({
                                type: "success",
                                message: "保存成功",
                                position: "top-right",
                                offset: 50,
                            });
                            this.$refs.table.loadData();
                        })
                        .catch((error) => {
                            // 请求失败
                            console.log("请求失败");
                            console.log(error);
                        });
                });
            },
            destroyed: function () {
                this.clean();
            },
            methods: {
                clean() {this.pubVue.$emit("removeMarkers", { layerType: this.layerType });},
                rowClick(row) {
                    let rowObj = {};
                    $.extend(rowObj, row, { layerType: this.layerType });
                    this.pubVue.$emit("drawPoint", { row: rowObj, marker: qybzMarkerContentCmp });
                },
                refresh() {
                    this.$nextTick().then(() => {
                        this.$refs.table.queryList();
                    });
                },
                queryFilter() {
                    this.$refs.dialog.showDialog();
                },
                handleDoQuery(form) {
                    this.queryParams = form;
                    this.refresh();
                },
                onLoad(data) {
                    this.clean();
                    if (data && data.total && data.total > 0 && this.queryParams.sfbz === "1") {
                        this.pubVue.$emit("showMarker", { rows: data.rows, marker: qybzMarkerContentCmp, layerType: this.layerType });
                    }
                },
            },
        });
    </script>

    <!-- 查询条件 -->
    <style>
        /*dialog*/
        .qybzQueryfilterDialogClass {
            width: 500px;
            /* height: 100%; */
        }
        .qybzQueryfilterDialogClass .el-dialog__body {
            max-height: 55vh;
        }
        /*dialog>form*/
        .qybzQueryfilterDialogClass .el-form {
            width: 460px;
        }
        .qybzQueryfilterDialogClass .el-select .el-input {
            width: 340px;
        }
    </style>
    <template id="qybzQueryfilterDialogTemplate">
        <el-dialog
            title="筛选条件"
            custom-class="qybzQueryfilterDialogClass"
            :append-to-body="false"
            :fullscreen="false"
            :modal="false"
            :close-on-click-modal="false"
            close-on-press-escape
            :visible="dialogTableVisible"
            :before-close="handleDialogClose"
        >
            <el-form :model="form" size="medium" :label-width="formLabelWidth">
                <el-form-item label="是否标注">
                    <el-radio-group v-model="form.sfbz">
                        <el-radio label="0">未标注</el-radio>
                        <el-radio label="1">已标注</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="社会信用代码">
                    <el-input v-model="form.shxydm" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="纳税人名称">
                    <el-input v-model="form.nsrmc" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="纳税人类型">
                    <el-select v-model="form.sfybnsr" placeholder="请选择纳税人类型">
                        <el-option label="" value=""></el-option>
                        <el-option label="一般纳税人" value="1"></el-option>
                        <el-option label="其他纳税人" value="0"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="纳税人状态">
                    <el-select v-model="form.nsrzt" placeholder="请选择纳税人状态" th:with="type=${@dict.getType('dm_nsrzt')}">
                        <el-option label="" value=""></el-option>
                        <el-option th:each="dict : ${type}" th:label="${dict.dictLabel}" th:value="${dict.dictLabel}"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="课征主体登记类型">
                    <el-select v-model="form.kzztdjlx" placeholder="请选择课征主体登记类型" th:with="type=${@dict.getType('dm_kzztdjlx')}">
                        <el-option label="" value=""></el-option>
                        <el-option th:each="dict : ${type}" th:label="${dict.dictLabel}" th:value="${dict.dictLabel}"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="登记注册类型">
                    <el-select v-model="form.djzclx" placeholder="请选择登记注册类型" th:with="type=${@dict.getType('dm_djzclx')}">
                        <el-option label="" value=""></el-option>
                        <el-option th:each="dict : ${type}" th:label="${dict.dictLabel}" th:value="${dict.dictLabel}"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="街道乡镇">
                    <el-select v-model="form.jdxz" placeholder="请选择街道乡镇" th:with="type=${@dict.getType('dm_jdxz')}">
                        <el-option label="" value=""></el-option>
                        <el-option th:each="dict : ${type}" th:label="${dict.dictLabel}" th:value="${dict.dictLabel}"></el-option>
                    </el-select>
                </el-form-item>
                <!--/*-->
                <el-form-item label="主管税务机关">
                    <el-select v-model="form.zgswjg" placeholder="请选择主管税务机关" th:with="type=${@dict.getType('dm_zgswjg')}">
                        <el-option label="" value=""></el-option>
                        <el-option th:each="dict : ${type}" th:label="${dict.dictLabel}" th:value="${dict.dictLabel}"></el-option>
                    </el-select>
                </el-form-item>
                <!--*/-->
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleDialogClose">取 消</el-button>
                <el-button type="primary" @click="handleSumbit">确 定</el-button>
            </div>
        </el-dialog>
    </template>
    <script type="module">
        Vue.component("qybzQueryfilterDialog", {
            template: "#qybzQueryfilterDialogTemplate",
            data() {
                return {
                    dialogTableVisible: false,
                    form: {
                        sfbz: "1",
                        sfybnsr: "1",
                        shxydm: "",
                        kzztdjlx: "",
                        nsrzt: "正常",
                        nsrmc: "",
                        djzclx: "",
                        jdxz: "",
                        zgswjg: "",
                    },
                    formLabelWidth: "125px",
                };
            },
            methods: {
                showDialog() {
                    this.dialogTableVisible = true;
                },
                handleDialogClose() {
                    this.dialogTableVisible = false;
                },
                handleSumbit() {
                    this.dialogTableVisible = false;
                    let params = {};
                    $.extend(params, this.form);
                    this.$emit("do-query", params);
                },
            },
        });
    </script>

    <!-- 地图信息框 -->
    <style>
        /* marker样式 */
        .qybz_popup_content {
            padding: 0;
        }

        .qybz_info_container {
            cursor: default;
            word-wrap: break-word;
            width: 310px;
        }

        .qybz_info_container .title {
            font-weight: 700;
            font-size: 14px;
            color: #ccc;
            border-bottom: 1px solid #ccc;
            padding: 5px 0;
            margin-right: 30px;
        }

        .qybz_info_container .title:after {
            clear: both;
            content: "";
            display: table;
        }

        .qybz_collect_box {
            position: relative;
            /*width: 14px;*/
            /*height: 14px;*/
            display: inline-block;
        }

        .qybz_info_container .props p {
            margin: 10px 0;
        }

        .qybz_info_container p {
            font-size: 12px;
        }
    </style>
    <template id="qybzMarkerTemplate">
        <div class="qybz_popup_content">
            <div class="qybz_info_container">
                <div class="title">
                    <span><a href="#" @click="showYhs">{{markerData.nsrmc}}</a></span>
                    <div class="qybz_collect_box" style="float: right; text-align: right">
                        <span v-if="editable"><button class="fa fa-edit" @click="doClick">{{btnTxt}}</button></span>
                        <span v-if="editable&&btnStatus==1"><button class="fa fa-cancel" @click="doCancel">取消</button></span>
                        <span v-if="delable"><button class="fa fa-remove" @click="delClick">删除</button></span>
                    </div>
                </div>
                <div class="props">
                    <p><span>注册地址：</span> <span>{{markerData.zcdz}}</span></p>
                    <p><span>经营地址：</span> <span>{{markerData.jydz}}</span></p>
                    <p><span>登记注册类型：</span> <span>{{markerData.djzclx}}</span></p>
                    <p><span>社会信用代码：</span> <span>{{markerData.shxydm}}</span></p>
                </div>
            </div>
        </div>
    </template>
    <script type="text/javascript">
        let qybzMarkerContentCmp = Vue.extend({
            template: "#qybzMarkerTemplate",
            props: {
                // 可编辑
                editable: {
                    type: Boolean,
                    default: false,
                },
                // 可删除
                delable: {
                    type: Boolean,
                    default: false,
                },
                // 按钮状态
                btnStatus: {
                    type: Number,
                    default: 0,
                },
                pubVue: {
                    type: Object,
                },
                markerData: {
                    type: Object,
                },
            },
            data: function () {
                let btnTxts = ["修改", "保存"];
                return {
                    btnTxts: btnTxts,
                    btnTxt: btnTxts[this.btnStatus],
                };
            },
            watch: {
                btnStatus: function (val, oldVal) {
                    this.btnTxt = this.btnTxts[val];
                    this.delable = !val;
                },
            },
            methods: {
                showYhs() {
                    this.pubVue.$emit("showYhs", { shxydm: this.markerData.shxydm, nsrmc: this.markerData.nsrmc });
                },
                doClick() {
                    if (this.btnTxt === this.btnTxts[0]) {
                        this.btnStatus = 1;
                        this.pubVue.$emit("editGeo", { data: this.markerData, marker: qybzMarkerContentCmp, layerType: "qybz" });
                    } else {
                        this.btnStatus = 0;
                        this.pubVue.$emit("saveQybz", this.markerData);
                    }
                },
                doCancel() {
                    this.btnStatus = 0;
                    this.pubVue.$emit("cancelGeo", { data: this.markerData, layerType: "qybz" });
                },
                delClick() {
                    this.$confirm("此操作将删除标注点, 是否继续?", "提示", {
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        type: "warning",
                    })
                        .then(() => {
                            this.pubVue.$emit("delQybz", this.markerData);
                        })
                        .catch(() => {});
                },
            },
        });
    </script>
</div>
