<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<th:block th:include="include :: header('指标规则库')" />
		<th:block th:include="include :: layout-latest-css" />
		<th:block th:include="include :: ztree-css-default" />
		<style type="text/css">
		.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
/* 		.select-list li input, .select-list li select {padding-left:180px} */
		</style>
	</head>
	<body class="gray-bg">
		<div class="ui-layout-west">
			<div class="box box-main">
				<div class="box-header">
					<div class="box-title">
						<i class="fa icon-grid"></i> 规则分类
					</div>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
						<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
						<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新"><i class="fa fa-refresh"></i></button>
					</div>
				</div>
				<div class="ui-layout-content">
					<div id="tree" class="ztree"></div>
				</div>
			</div>
		</div>
		
		<div class="ui-layout-center">
			<div class="container-div">
				<div class="row">
					<div class="col-sm-12 search-collapse">
						<form id="user-form">
							<input type="hidden" id="flmlid" name="flmlid">
							<div class="select-list">
								<ul>
									<li>
										<label for="loginName">规则名称：</label><input type="text" id="gzmc" name="gzmc"/>
									</li>
									<li>
										<label for="status">状态：</label><select id="yxbz" name="yxbz" th:with="type=${@dict.getType('dm_yxbz')}">
											<option value="">所有</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</li>
									<li>
										<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
									    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>
					
			        <div class="btn-group-sm" id="toolbar" role="group">
			        	<a class="btn btn-success" onclick="addTab()" >
			                <i class="fa fa-plus"></i> 新增
			            </a>
			             <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" >
				            <i class="fa fa-edit"></i> 修改
				        </a>
			            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
			                <i class="fa fa-remove"></i> 删除
			            </a>
			        </div>
			        
			        <div class="col-sm-12 select-table table-striped">
					    <table id="bootstrap-table"></table>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:include="include :: footer" />
		<th:block th:include="include :: layout-latest-js" />
		<th:block th:include="include :: ztree-js" />
		<script th:src="@{/main/js/sf-ui.extend.js?v=1.0.0}"></script>
		<script th:inline="javascript">
			var editFlag = /*[[${@permission.hasPermi('system:user:edit')}]]*/ null;
			var removeFlag = /*[[${@permission.hasPermi('system:user:remove')}]]*/ null;
			var prefix = ctx + "module/industry/zbGzk";
	
			$(function() {
			    var panehHidden = false;
			    if ($(this).width() < 769) {
			        panehHidden = true;
			    }
			    $('body').layout({ initClosed: panehHidden, west__size: 200 });
			    queryList();
			    queryTree();
			});
	
			function queryList() {
			    var options = {
			        url: prefix + "/list",
			        updateUrl: prefix + "/zbgzkEdit/{id}",
			        removeUrl: prefix + "/zbgzkRemove",
		        	//sortName: "lrsj",
		        	//sortOrder: "desc",
			        modalName: "规则库",
			        columns: [{
			            checkbox: true
			        },
			        {
			            field: 'id',
			            visible: false,
			            title: 'ID'
			        },
			        {
			            field: 'gzmc',
			            title: '规则名称',
			            width: '120',
			            sortable: false
			        },
			        {
			            field: 'flmc',
			            width: '100',
			            title: '分类',
			            sortable: false
			        },
			        {
			            field: 'yxbz',
			            width: '90',
			            title: '状态',
			            align: 'center',
			            formatter: function (value, row, index) {
			        		return statusTools(row);
			        	}
			        },
			        {
			            field: 'lrsj',
			            title: '录入时间',
			            width: '130',
			            sortable: false
			        },
			        {
			            title: '操作',
			            width: '60',
			            align: 'center',
			            formatter: function(value, row, index) {
			                var actions = [];
			                actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" title="编辑" style="margin-right:10px" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i></a> ');
			                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" title="删除" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i></a> ');
			                return actions.join('');
			            }
			        }]
			    };
			    $.table.init(options);
			}
			
			//var newCount = 1;
			function queryTree() {
				var url = prefix + "/treeData?lx=gzk";
				var options = {
			        url: url,
			        expandLevel: 2,			        
			        onClick : zOnClick,
			        view: {
						addHoverDom: addHoverDom,
						removeHoverDom: removeHoverDom,
						selectedMulti: false
					},
			        edit: {
						enable: true,
						removeTitle: "删除分类",
						showRemoveBtn: showRemoveBtn,
						showRenameBtn: false
					},
					callback: {
						beforeRemove: beforeRemove
						//beforeRename: beforeRename
					}
			    };
				$.tree.init(options);
				
				function showRemoveBtn(treeId, treeNode) {
					return !(treeNode.id=='100'||treeNode.isParent);
				}
				function showRenameBtn(treeId, treeNode) {
					return !(treeNode.id=='100');
				}
				
				function beforeRemove(treeId, treeNode) {
					var zTree = $.fn.zTree.getZTreeObj("tree");
					zTree.selectNode(treeNode);
					$.modal.confirm("确认删除 “ " + treeNode.name + " ”吗？", function(){
						$.operate.post(prefix + "/flmlDelete", { "id": treeNode.id}, function(data) {
							if(data.code == 0) zTree.removeNode(treeNode);
						});
					});
					return false;
				}
// 				function beforeRename(treeId, treeNode, newName, isCancel) {
// 					if (newName.length == 0) {
// 						setTimeout(function() {
// 							var zTree = $.fn.zTree.getZTreeObj("tree");
// 							zTree.cancelEditName();
// 							$.modal.alertError("分类名称不能为空.");
// 						}, 0);
// 						return false;
// 					}
// 					$.operate.post(prefix + "/flmlEdit", { "id": treeNode.id, "mlmc": treeNode.name });
// 					return true;
// 				}
				function addHoverDom(treeId, treeNode) {
					var sObj = $("#" + treeNode.tId + "_span");
					if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) {
						sObj.siblings(".add,.edit,.remove").show().delay(3000).hide(0);
						return;
					}
					var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
						+ "' title='新增子分类' onfocus='this.blur();'></span>";
					if(showRenameBtn(treeId, treeNode)){
						addStr +="<span class='button edit' id='editBtn_" + treeNode.tId
						+ "' title='编辑分类' onfocus='this.blur();'></span>";
					}
					sObj.after(addStr);
					var btn = $("#addBtn_"+treeNode.tId);
					if (btn) btn.bind("click", function(){						
						$.modal.open("新增子分类", prefix + "/flmlAdd?lx=gzk&pid="+treeNode.id, 460, 310, function(index, layero) {
							var iframeWin = layero.find('iframe')[0];
	                        iframeWin.contentWindow.submitHandler(queryTree);
						});						
						//var zTree = $.fn.zTree.getZTreeObj("tree");
						//zTree.addNodes(treeNode, {id:$.uuid(), pId:treeNode.id, name:"分类" + (newCount), title:"分类" + (newCount)});
						//newCount++;
						return false;
					});
					if(showRenameBtn(treeId, treeNode)) {
						var btn2 = $("#editBtn_"+treeNode.tId);
						if (btn2) btn2.bind("click", function(){						
							$.modal.open("编辑子分类", prefix + "/flmlEdit?lx=gzk&id="+treeNode.id, 460, 310, function(index, layero) {
								var iframeWin = layero.find('iframe')[0];
		                        iframeWin.contentWindow.submitHandler(queryTree);
							});
							return false;
						});
					}
				};
				function removeHoverDom(treeId, treeNode) {
					$("#addBtn_"+treeNode.tId).unbind().remove();
					$("#editBtn_"+treeNode.tId).unbind().remove();
				};
				function zOnClick(event, treeId, treeNode) {
					$("#" + treeNode.tId + "_span").siblings(".add,.edit,.remove").show().delay(3000).hide(0);
					$("#flmlid").val(treeNode.id);
					$.table.search();
				}
			}
			
			function addTab() {
				table.set();
                $.modal.openTab("添加" + table.options.modalName, prefix + "/zbgzkAdd?flmlid="+$('#flmlid').val());
			}
			
			$('#btnExpand').click(function() {
				$._tree.expandAll(true);
			    $(this).hide();
			    $('#btnCollapse').show();
			});
			
			$('#btnCollapse').click(function() {
				$._tree.expandAll(false);
			    $(this).hide();
			    $('#btnExpand').show();
			});
			
			$('#btnRefresh').click(function() {
				queryTree();
			});		

			/* 用户状态显示 */
			function statusTools(row) {
			    if (row.yxbz == 'N') {
	    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
	    		} else {
	    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
	    		}
			}
			
			/* 用户管理-停用 */
			function disable(id) {
				$.modal.confirm("确认要禁用规则吗？", function() {
					$.operate.post(prefix + "/changeYxbz", { "id": id, "yxbz": 'N' });
			    })
			}
	
			/* 用户管理启用 */
			function enable(id) {
				$.modal.confirm("确认要启用规则吗？", function() {
					$.operate.post(prefix + "/changeYxbz", { "id": id, "yxbz": 'Y' });
			    })
			}
		</script>
	</body>
</html>