<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syndo.project.zhzs.gcxmxt.mapper.ywjaqyhck.YwjaqyhckMapper">
	
	<!-- 域外建安企业核查库查询列表-->
	<select id="selectList" resultType="com.syndo.project.zhzs.gcxmxt.domain.ywjaqyhck.Ywjaqyhck" parameterType="com.syndo.project.zhzs.gcxmxt.domain.ywjaqyhck.Ywjaqyhck">

	</select>

</mapper>