html {
	height:100%
}
body.signin {
	height:auto;
	background:url(../img/login-background.jpg) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:rgba(255,255,255,.95)
}
.signinpanel {
	width:750px;
	margin:10% auto 0
}
.signinpanel .logopanel {
	float:none;
	width:auto;
	padding:0;
	background:0 0
}
.signinpanel .signin-info ul {
	list-style:none;
	padding:0;
	margin:20px 0
}
.signinpanel .form-control {
	display:block;
	margin-top:15px
}
.signinpanel .uname {
	background:#fff url(../img/user.png) no-repeat 95% center;
	color:#333
}
.signinpanel .pword {
	background:#fff url(../img/locked.png) no-repeat 95% center;
	color:#333
}
.signinpanel .code {
    background: #fff no-repeat 95% center;color:#333; margin:0 0 15px 0;
}
.signinpanel .btn {
	margin-top:15px
}
.signinpanel form {
	background:rgba(255,255,255,.2);
	border:1px solid rgba(255,255,255,.3);
	-moz-box-shadow:0 3px 0 rgba(12,12,12,.03);
	-webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);
	box-shadow:0 3px 0 rgba(12,12,12,.03);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:30px
}
.signup-footer {
	border-top:solid 1px rgba(255,255,255,.3);
	margin:20px 0;
	padding-top:15px
}
@media screen and (max-width:768px) {
	.signinpanel,.signuppanel {
	margin:0 auto;
	width:420px!important;
	padding:20px
}
.signinpanel form {
	margin-top:20px
}
.signup-footer,.signuppanel .form-control {
	margin-bottom:10px
}
.signup-footer .pull-left,.signup-footer .pull-right {
	float:none!important;
	text-align:center
}
.signinpanel .signin-info ul {
	display:none
}
}@media screen and (max-width:320px) {
	.signinpanel,.signuppanel {
		margin:0 20px;
		width:auto
	}
}
/*
登录界面check样式
*/ 
.checkbox-custom {
    position: relative;
    padding: 0 15px 0 25px;
    margin-bottom: 7px;
    display: inline-block;
}
/*
将初始的checkbox的样式改变
*/
.checkbox-custom input[type="checkbox"] {
    opacity: 0;/*将初始的checkbox隐藏起来*/
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: -6px 0 0 0;
    top: 50%;
    left: 3px;
}
/*
设计新的checkbox，位置
*/
.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 18px;
    height: 17px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}
/*
点击初始的checkbox，将新的checkbox关联起来
*/
.checkbox-custom input[type="checkbox"]:checked +label:after {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    top: 42%;
    left: 3px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}
.checkbox-custom label {
    cursor: pointer;
    line-height: 1.2;
    font-weight: normal;/*改变了rememberme的字体*/
    margin-bottom: 0;
    text-align: left;
}


/**
  @author ykc
      适应手机大小
*/
@media screen and (max-width:768px) {
	.signinpanel {
		width:390px!important;
	}
}

/* update */
@media screen and (min-width:768px){
	.signupForm {
		margin: auto 15% 0;
	}
}
.head{
	width:1000px;
	padding:20px 0px;
	margin:0 auto;
}
.banner{ 
	position:relative;
	}

.login{
	width:385px;
	position:absolute; 
	right:50%; 
	margin-right:-500px; 
	z-index:100; 
	top:78px;}
	
.login_con{
	width:385px; 
	height:320px; 
	padding:20px 30px;
	background:#F0F8FF;
	-moz-box-shadow:0 3px 0 rgba(12,12,12,.03);
	-webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);
	box-shadow:0 3px 0 rgba(12,12,12,.03);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
	
.spec1{
	font-size:14px; 
	color:#31416a;
}
	
.quickdelete{
	width:34px;
	height:34px;
	background:url(../img/quickdelete.png) no-repeat;;
	background-position: 10px 10px;
	position: absolute;
	top: -4px;
	right: 1px;
	display: block;
}

.quickdelete-wrap{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ccc;;
	width: 325px;
	height:38px;
	margin-right: 0;
	overflow: hidden;
}

.form-control, .ue-form, .qd_ipt{
	width: 325px; 
	border-width: 0px;
	padding-right: 0px;
	background:none;
}

.quickdelete-wrap:focus, .quickdelete-wrap:hover{
	border-color: #3e99ff;
	box-shadow: none;
}

.btn{
	display: inline-block;
	width: 100%;
	border-radius: 0;
	font-size: 14px;
	font-weight: bold;
}
.btn-login {
	float: left;
	background-color: #00bbee;
	color: #fff;
}
.btn.btn-login:hover, .btn.btn-login:focus {
    color: #fff;
    background-color: #00aaee;
}
.btn-try {
	float: left;
	background-color:  #fff;
	color:  #333;
	border-color:#ddd;
	margin-top:15px;
	font-weight: normal;
}
.form-checkbox {
	color: #999;
	font-size: 12px;
}


*{margin:0; padding:0;}
body {margin:0; padding:0;height:100%;width:100%;font-size:12px; color:#000; font-style:normal !important; font-family:微软雅黑;}
{width:100%; margin:0 auto; overflow:hidden}
.main_image {width:100%; height:460px; overflow:hidden; margin:0 auto; position:relative; z-index:9; min-width:1100px;}
.main_image ul {width:9999px; height:460px; overflow:hidden; position:absolute; top:0; left:0, min-width:1100px;}
.main_image li {float:left; width:100%; height:460px; min-width:1100px;}
.main_image li span {display:block; width:100%; height:460px}
.main_image li a {display:block; width:100%; height:460px}
.main_image li .img_2 {background: url('../img/banner02.jpg') center top no-repeat}
.main_image li .img_3 {background: url('../img/banner03.jpg') center top no-repeat}
div.flicking_con {width:1000px; margin:0 auto; position:relative}
div.flicking_con .flicking_inner {position:relative; top:425px; z-index:99; height:0px;} /* 121126 */
div.flicking_con a { height:12px; background:#fff;  margin-left:5px !important; margin-right:5px; margin:0; padding:0; width:12px; text-align:center; line-height:10px; text-indent:0px; color:#fff; display:inline-block; font-size:0px !important; border-radius:50%;}
div.flicking_con a.on {background-position:0 -21px; background:#7ed9ff; color:#000; opacity:1; }
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:43px!important;height:74px!important;top:50%;margin-top:-57px; display:none;}
#btn_prev{background:url(../img/hover_left.png) no-repeat left top;left:20px; }
#btn_next{background:url(../img/hover_right.png) no-repeat right top;right:20px;}
.clear{clear:both;}


.footer {
    background:#f8f9fa; 
	border-top:1px solid #eaeaea;
	 margin-top:10px; 
	 text-align:center; 
	 font-size:14px; 
	 color:#666; 
	 padding:10px 0px;
	 height: 80px;
}
