<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<head>
		<th:block th:include="include :: header('修改房地产销售中间表')" />
	</head>
	<body class="white-bg">
	    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
	        <form class="form-horizontal m" id="form-fdcxszjbwh-edit" th:object="${entity}">
	            <input id="objId" name="objId" th:field="*{objId}"  type="hidden">
	            <div class="form-group">	
	                <label class="col-sm-3 control-label">企业名称：</label>
	                <div class="col-sm-8">
	                    <input id="qymc" name="qymc" th:field="*{qymc}" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">
					<label class="col-sm-3 control-label">纳税人名称：</label>
					<div class="col-sm-8">
						 <input id="nsrmc" name="nsrmc" th:field="*{nsrmc}" class="form-control" type="text">
					</div>
				</div>
			</form>
	    </div>
	    <th:block th:include="include :: footer" />
	    <script type="text/javascript">
			var prefix = ctx + "zhzs/dbfxxt/xtgl/fdcxszjbwh";
			$("#form-fdcxszjbwh-edit").validate({
				// 表单验证，参考notes文件
				rules:{	
					qymc:{
						required:true
					},
					nsrmc:{
						required:false
					}
				}
			});
			
			function submitHandler() {
		        if ($.validate.form()) {
		        	$.operate.save(prefix + "/edit", $('#form-fdcxszjbwh-edit').serialize());
		        }
		    }
		</script>
	</body>
</html>
