<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>首页</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link th:href="@{/ajax/libs/layui/css/layui.css?v=2.6.6}" rel="stylesheet" media="all">
		<link th:href="@{/main/css/main.css?v=1.0.0}" rel="stylesheet" media="all">
		<style type="text/css">
			
		</style>
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							总收入
							<span class="layui-badge layui-bg-blue layuiadmin-badge">年</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p class="layuiadmin-big-font">
								<span id="zsr">
									<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
								</span>
							</p>
							<p>
								趋势
								<span class="layuiadmin-span-color">
									<span id="zsrqs">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
									</span> 
									<i class="layui-inline layui-icon layui-icon-chart"></i>
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							地方收入
							<span class="layui-badge layui-bg-blue layuiadmin-badge">年</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p class="layuiadmin-big-font">
								<span id="dfsr">
									<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
								</span>
							</p>
							<p>
								趋势
								<span class="layuiadmin-span-color">
									<span id="dfsrqs">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
									</span> 
									<i class="layui-inline layui-icon layui-icon-chart"></i>
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							报送情况
							<span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list" style="display: flex;">
							<div style="width: 50%">
								<p class="layuiadmin-big-font">
									<span id="ybs">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
									</span>
								</p>
								<p>已报送</p>
							</div>
							<div style="width: 50%;">
								<p class="layuiadmin-big-font">
									<span id="wbs">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
									</span>
								</p>
								<p>未报送</p>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							报送数量
							<span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p class="layuiadmin-big-font">
								<span id="bssl">
									<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
								</span>
							</p>
							<p>
								数据总量
								<span class="layuiadmin-span-color">
									<span id="sjzl">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
									</span> 
									<i class="layui-inline layui-icon layui-icon-log"></i>
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm12">
					<div class="layui-card">
						<div class="layui-card-header">
							收入情况
							<span class="layui-badge layui-bg-blue layuiadmin-badge">年</span>
						</div>
						<div class="layui-card-body">
							<div class="layui-row">
								<div class="layui-col-sm12">
									<div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade">
										<div carousel-item id="echarts-line">
											<div><i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop layadmin-loading"></i></div>
										</div>
									</div>
								</div>
								<!-- <div class="layui-col-sm4">
									<div class="layui-card-body layadmin-takerates" id="progress">
										<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop layadmin-loading"></i>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script id="progressTpl" type="text/html">
  			{{#  layui.each(d.list, function(index, item){ }}
				<div class="layui-progress" lay-showPercent="yes">
					<h3>{{ item.char1 }}</h3>
					<div class="layui-progress-bar layui-bg-blue" lay-percent="{{ item.char2 }}"></div>
				</div>
  			{{#  }); }}
  			{{#  if(d.list.length === 0){ }}
    			暂无数据
  			{{#  } }} 
		</script>
		<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
		<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
		<script th:src="@{/ajax/libs/layui/layui.js?v=2.6.6}"></script>
		<script th:src="@{/ajax/libs/echarts/echarts.min.js?v=4.7.0}"></script>
		<script th:src="@{/ajax/libs/echarts/theme/custom.js?v=1.0.0}"></script>
		<script th:src="@{/main/main.js?v=1.0.0}"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>
