<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('税务任务处理')" />
</head>
<body class="gray-white">
     <div class="container-div">
		<div class="row">
		
			<!-- 查询条件 -->
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<i class="fa fa-search"></i>&nbsp;&nbsp;查询条件选择
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseExample" class="collapse-a">
							<span class="fa fa-chevron-down"></span>
						</a>
					</h4>
				</div>
				<div id="collapseExample" class="panel-collapse collapse in">
					<form id="query-form" class="form-horizontal m">
			        	<div class="row">
			        		<div class="col-sm-4">
			        			<div class="form-group">
									<label class="col-sm-3 control-label input-sm">指标类型： </label>
									<div class="col-sm-9">
										<select id="zblx" name="zblx" th:with="type=${@dict.getType('dm_dbfxpt_fxrwclfx_zblx')}"  class="form-control input-sm">
											<option value=""></option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</div>
								</div>
							</div>
			        		<div class="col-sm-4">
			        			<div class="form-group">
									<label class="col-sm-3 control-label input-sm">指标名称： </label>
									<div class="col-sm-9">
										<input class="form-control input-sm" type="text" id="zbmc" name="zbmc"/>
									</div>
								</div>
							</div>
			        		<div class="col-sm-4">
			        			<div class="form-group">
									<label class="col-sm-3 control-label input-sm">任务内容： </label>
									<div class="col-sm-9">
										<input class="form-control input-sm" type="text" id="rwnr" name="rwnr"/>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 text-right">
								<a class="btn btn-primary btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-default btn-sm" onclick="onReset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
	        	<a class="btn btn-success">
	                <i class="fa fa-save"></i> 任务轨迹信息
	            </a>
	            <a class="btn btn-primary">
		            <i class="fa fa-plus"></i> 任务推送
		        </a>
				<a class="btn btn-danger">
		            <i class="fa fa-plus"></i> 疑点回退
		        </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "zhzs/dbfxxt/fxrwclfx/swrwcl";

        $(function() {
            var options = {
                //url: prefix + "/list",
                modalName: "税务任务处理",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					visible: false
				},
				{
					field : 'zblx', 
					title : '指标类型',
					sortable: true
				},
				{
					field : 'cldw', 
					title : '处理单位',
					sortable: true
				},
				{
					field : 'zbmc', 
					title : '指标名称',
					sortable: true
				},
				{
					field : 'rwnr', 
					title : '任务内容',
					sortable: true
				},
				{
					field : 'xfr', 
					title : '下发人',
					sortable: true
				},
				{
					field : 'xfsj', 
					title : '下发时间',
					sortable: true
				},
				{
					field : 'nsrmc', 
					title : '纳税人名称',
					sortable: true
				},
				{
					field : 'nsrsbh', 
					title : '纳税人识别号',
					sortable: true
				},
				{
					field : 'zgsws', 
					title : '主管税务所',
					sortable: true
				}]
            };
            $.table.init(options);
        });
        layui.use('laydate', function(){
        	var laydate = layui.laydate;
      	});
    </script>
</body>
</html>